calcapi/src/main/mule/calcapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9bb29db1-ddea-4d05-80d1-f5c05f4814c3" >
		<http:listener-connection host="0.0.0.0" port="8086" />
	</http:listener-config>
	<flow name="calcapiFlow" doc:id="e0dc2469-1f58-428c-9860-65966ae6fade" >
		<http:listener doc:name="Listener" doc:id="c57ffd64-b1ac-454f-9b92-9df1799cc389" path="/calapi" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="64e327be-ca3c-4433-82a3-d9b134937608" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"sub" : attributes.queryParams.fname - attributes.queryParams.lname,
"add" : attributes.queryParams.fname + attributes.queryParams.lname,
"mul" : attributes.queryParams.fname * attributes.queryParams.lname,
"dvi" : attributes.queryParams.fname / attributes.queryParams.lname

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6f24fd99-5cfb-4617-8155-2a0cec8159a7" message="#[payload]"/>
	</flow>
</mule>
